<div class='row'>
	<div class='col-sm-12'>
		<div class='page-header'>
			<h1 class='pull-left'><i class='icon-plus-sign'></i><span>New Claim</span></h1>
		</div>
	</div>
</div>

<div class='row'>
	<div class='col-sm-12 col-lg-12'>
		<div class='box bordered-box'>
			<div class='box-content box-double-padding'>
				<%= form_for @new_claim, :url => { :action => "add" }, :method => :POST, :html => { :multipart => true }  do |f|  %>
				<fieldset>
					<div class='col-sm-4'>
						<div class='lead'>
							<i class='icon-file-alt text-contrast'></i>
							Notes On New Claim
						</div>
						<small class='text-muted'> There are 7 categories and 13 expense categories for claims, do make sure you look through all 13 in the table below before making your claim, this will greatly help us in processing your claims. Thank you for your consideration! </small>
					</div>
					<div class='col-sm-7 col-sm-offset-1'>
						<h3>Claim Information</h3>
						<div class='form-group'>

							<%= f.hidden_field(:userid, :value => session[:userid])%>
							<%= f.hidden_field(:clubid, :value => session[:club])%>
							<label>Claim Amount (SGD)*</label> <i>(e.g. 40.90)</i>
							<br />
							v>

						<% a = Array(1..13)%>
						<% b = ['A','B','C','D','E','F','G']%>

					
						<div class='form-group'>
							<label>Item</label>
							<br />
							v>
						<div class='form-group'>
							<label>Select Category</label>
							<br />
							v>
						<div class='form-group'>
							<label>Select Expense Category*</label>
							<br />
							v>

						<div class='form-group'>
							<label>Select Event to Claim*</label>
							<br />
						</div>

						<div class='form-group'>
							<label>Attach Receipt*</label>
							<br />
							<%= f.file_field(:total)%>

						
						</div>
				</fieldset>
				<div class='form-actions form-actions-padding' style='margin-bottom: 0;'>
					<div class='text-right'>
						<%= f.submit("Save", :class=>"btn btn-primary btn-lg blue-background")%>
					</div>
				</div>
				<%end%>
			</div>
		</div>
	</div>
</div>




